{% extends "layout.html" %}
{% block content %}
    {% for note in notes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ note.author.username }}</a>
              <small class="text-muted">{{ note.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h3><a class="article-title" href="{{ url_for('notes.note', note_id=note.id) }}">{{ note.title }}</a></h3>
            <p class="article-content">{{ note.content }}</p>
          </div>
        </article>
    {% endfor %}
    <div class="mt-4 text-center">
        <a href="{{ url_for('notes.list_notes') }}" class="btn btn-outline-info btn-lg">Search Notes</a>
    </div>
{% endblock content %}